body {
  background:#0b0b0b;
  color:#fff;
  font-family:system-ui;
  padding:16px;
}

.exercise {
  background:#141414;
  border-radius:12px;
  padding:10px 12px;
  margin-bottom:12px;
  text-align: center;
}

.title {
  font-size: 1.2em;
  font-weight:600;
  margin-bottom:4px;
}

.subtitle {
  font-size:1em;
  color:#aaa;
  margin-bottom:6px;
}
